body {
    background-color: #0C0E12;
}

.usdt-logo {
    width: 50px!important;
}

.button1 {
    background-color:  #F3BA2F;
    padding: 16px 32px;
    text-decoration: none;
    line-height: 1;
}

.button2 {
    background-color:  #F3BA2F;
    padding: 16px 32px;
    text-decoration: none;
    line-height: 1;
}